In [2]:
## Define a list
lst =[]
lst
print(type(lst))

<class 'list'>

In [3]:
lst =["Arun","John","Shyam"]
print(lst)

['Arun', 'John', 'Shyam']

In [5]:
mixLst= [1,"arun",1.4,True]
print(mixLst)

[1, 'arun', 1.4, True]

In [6]:
## Accessing List Items
fruits = ["apple", "banana","cherry","Kiwi","grapes"]
for i in fruits:
    print(i)

apple
banana
cherry
Kiwi
grapes

In [7]:
fruits[0]

'apple'

In [8]:
## Error conditions
fruits[10]

IndexError: list index out of range

In [ ]:
## last element
print(fruits[-1])

grapes

In [ ]:
## from 1st index to end
print(fruits[1:])

['banana', 'cherry', 'Kiwi', 'grapes']

In [ ]:
## 1 to 2 not consider the 3rd element
print(fruits[1:3])

['banana', 'cherry']

In [12]:
print(fruits[-1:2])

[]

In [13]:
## Modifying the List elements
fruits[1] ="Watermelon"
fruits

['apple', 'Watermelon', 'cherry', 'Kiwi', 'grapes']

In [ ]:
## consider character insted of word
fruits[1:] = "water"
fruits

['apple', 'w', 'a', 't', 'e', 'r']

In [20]:
fruits = ["apple", "banana","cherry","Kiwi","grapes"]

In [21]:
fruits.append("orange")
fruits

['apple', 'banana', 'cherry', 'Kiwi', 'grapes', 'orange']

In [22]:
fruits.insert(1,"mango")
fruits

['apple', 'mango', 'banana', 'cherry', 'Kiwi', 'grapes', 'orange']

In [24]:
## Remove and return the last element
p=fruits.pop()
print(p)

orange

In [25]:
fruits.index("cherry")

3

In [33]:
## Slicing List
numbers =[1,2,3,4,5,6,78,9,10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])
print(numbers[:])
print(numbers[::])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 78, 9, 10]
[1, 3, 5, 78, 10]
[10, 9, 78, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 78, 9, 10]
[1, 2, 3, 4, 5, 6, 78, 9, 10]

In [34]:
## Iterating with index
for index,number in enumerate(numbers):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 78
7 9
8 10

In [37]:
## List comprehension
lst =[]
for x in range(10):
    lst.append(x**2)
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [38]:
## Operation and iteration
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

## List Comprenhension

Basic syntex [expression for item in iteratable]

with condition logic [expression fo item in iterable in condition]

Nested List comprehension [expression for item1 in teratable in iteratable in condition]

In [39]:
square = [num**2 for num in range (10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [41]:
for i in range(10):
    if i%2 ==0:
        lst.append(i)
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 0, 2, 4, 6, 8, 0, 2, 4, 6, 8]

In [42]:
[num for num in range(10) if num%2==0]

[0, 2, 4, 6, 8]

In [43]:
## Nested lst comprehension

lst1 =[1,2,3,4]
lst2 =['a','b','c','d']

pair =[[i,j] for i in lst1 for j in lst2]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [45]:
## List Comprenhension with function calls
words = ["hello", "world","python","list","comprenhension"]
length = [len(word) for word in words]
print(length)

[5, 5, 6, 4, 14]