In [1]:
## Declaring And Assigining variables

age =32
height =5.11
name ="Arun"
is_student =True

## printing thevariables
print("age: ", age)
print("height: ",height)
print("Name: ",name)

age:  32
height:  5.11
Name:  Arun

In [2]:
## Naming Conventions
## Variable names should be descriptive
## They must start with a letter or an '_' and contains letter, numbers and underscores
## variables name case sensitive

# valid variable names
first_name ="Arun"
last_name='Badhai'

In [4]:
## Invalid variable names
#2age= 30
#first-name='Arun'
@name="Arun"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3610886127.py, line 4)

In [5]:
## Case sensitivity
name = "Arun"
Name = "arun"

name==Name

False

In [7]:
## Understanding Variable Types
## Python is dynamically typed, type of a variable is determined at runtime
age=25
height =5.11
name ="Arun"
is_student= True

In [8]:
## Type Checking and Conversion
type(height)

float

In [9]:
#Type Conversion
age_str=str(age)
print(age_str)

25

In [10]:
type(age_str)

str

In [11]:
name='Arun'
int(name)

ValueError: invalid literal for int() with base 10: 'Arun'

In [ ]:
## Dynamic typing
## Python allows the type of a variable to change as the program exexutes
var =10
print(var)
print(var,type(var))

10
10 <class 'int'>

In [14]:
var ='Hello'
print(var,type(var))

Hello <class 'str'>

In [4]:
## input
age = input("what is the age ?")
print(age)

10

In [3]:
## Simple Calculator
num1 = float(input("Enter first number"))
num2 = float(input("Eneter second number"))

sum = num1 +num2
diff = num1 - num2
mul = num1 * num2
div = num1/num2

print(sum)
print(diff)
print(mul)
print(div)

30.0
-10.0
200.0
0.5